@import url("https://fonts.googleapis.com/css?family=Oxygen:300");
/* line 1, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 22, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 29, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 32, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 35, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 40, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*--- Colors ----*/
/*--- Fonts ----*/
/*--- Background ----*/
/* line 1, ../sass/components/_button.scss */
.button-submit {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #85939f;
}

/* line 8, ../sass/components/_button.scss */
.button-registration {
  display: flex;
  padding: 0;
}
/* line 12, ../sass/components/_button.scss */
.button-registration .button-registration-1 {
  margin-right: 35px;
}

/* line 17, ../sass/components/_button.scss */
.button-section, .button-transparent {
  font-weight: bold;
  text-transform: uppercase;
  border: 3px solid #02baab;
  font-size: 15px;
  color: #02baab;
  padding: 10px 20px;
  cursor: pointer;
  background-color: transparent;
}

/* line 29, ../sass/components/_button.scss */
.button-section:hover {
  background-color: #02baab;
  color: #ffffff;
}

/* line 34, ../sass/components/_button.scss */
.button-white {
  border: 3px solid #ffffff;
  color: #ffffff;
  padding: 10px 40px 10px 10px;
}

/*--- WORKS ----*/
/* line 3, ../sass/components/_card.scss */
.list-cards {
  display: flex;
  justify-content: center;
}
/* line 7, ../sass/components/_card.scss */
.list-cards .cards-list-section {
  margin-right: 30px;
  overflow-y: hidden;
  height: 290px;
  width: 290px;
  position: relative;
}
/* line 15, ../sass/components/_card.scss */
.list-cards .cards-list-section:last-child {
  margin-right: 0;
}

/* line 21, ../sass/components/_card.scss */
.footer-cards {
  background-color: #3d3d3d;
  min-height: 70px;
  font-weight: bold;
  padding: 15px;
  display: flex;
  position: relative;
  bottom: 80px;
}
/* line 30, ../sass/components/_card.scss */
.footer-cards .text-card-wrapper {
  width: 225px;
  line-height: 25px;
}
/* line 35, ../sass/components/_card.scss */
.footer-cards .text-card-wrapper .title-card {
  color: #ffffff;
  line-height: 20px;
  font-size: 14px;
}
/* line 41, ../sass/components/_card.scss */
.footer-cards .text-card-wrapper .text-card {
  color: #02baab;
  font-size: 13px;
}

/* line 48, ../sass/components/_card.scss */
.likes-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 30px;
  text-align: center;
  line-height: 30px;
}
/* line 56, ../sass/components/_card.scss */
.likes-wrapper i {
  color: #ffffff;
  padding-right: 5px;
}
/* line 61, ../sass/components/_card.scss */
.likes-wrapper span {
  color: #02baab;
}

/* line 66, ../sass/components/_card.scss */
.hover-works {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
}

/* line 75, ../sass/components/_card.scss */
.cards-list-section:hover .hover-works {
  background: rgba(52, 52, 52, 0.6);
  display: block;
  cursor: pointer;
}

/* line 81, ../sass/components/_card.scss */
.cards-list-section:hover .footer-cards {
  display: none;
  cursor: pointer;
}

/*--- BLOG ----*/
/* line 89, ../sass/components/_card.scss */
.list-cards-blog {
  display: flex;
  justify-content: center;
}
/* line 93, ../sass/components/_card.scss */
.list-cards-blog .list-cards-article {
  border-bottom: 1px solid #c3c3c3;
  margin-right: 30px;
  padding-bottom: 30px;
  width: 290px;
}
/* line 100, ../sass/components/_card.scss */
.list-cards-blog .image-blog {
  margin-bottom: 30px;
}
/* line 104, ../sass/components/_card.scss */
.list-cards-blog .title-blog {
  font-size: 24px;
  color: #02baab;
  font-weight: bold;
  margin-bottom: 30px;
}
/* line 111, ../sass/components/_card.scss */
.list-cards-blog .title-text {
  font-size: 17px;
  color: #000000;
  line-height: 25px;
  margin-bottom: 30px;
}
/* line 118, ../sass/components/_card.scss */
.list-cards-blog .learn-more {
  text-decoration: none;
  color: #02baab;
  font-size: 14px;
  margin-right: 155px;
}
/* line 125, ../sass/components/_card.scss */
.list-cards-blog .icon-blog {
  color: #02baab;
  margin-right: 5px;
}

/* line 131, ../sass/components/_card.scss */
.list-cards-article:last-child {
  margin-right: 0;
}

/* line 135, ../sass/components/_card.scss */
.title-blog:hover, .learn-more:hover, .icon-blog:hover {
  color: #6d0fae;
}

/*--- TEAM----*/
/* line 142, ../sass/components/_card.scss */
.list-team {
  display: flex;
  justify-content: center;
}
/* line 146, ../sass/components/_card.scss */
.list-team .card-team {
  width: 210px;
  margin-right: 30px;
  text-align: center;
  border: 1px solid #c3c3c3;
  box-sizing: content-box;
}
/* line 153, ../sass/components/_card.scss */
.list-team .card-team .button-transparent {
  padding: 10px 40px 10px;
  margin: 30px auto;
}
/* line 158, ../sass/components/_card.scss */
.list-team .card-team .button-transparent:hover {
  background-color: #02baab;
  color: #ffffff;
}
/* line 164, ../sass/components/_card.scss */
.list-team .card-team:hover .text-team {
  display: none;
}
/* line 168, ../sass/components/_card.scss */
.list-team li:last-child {
  margin-right: 0;
}

/* line 173, ../sass/components/_card.scss */
.title-team {
  border: 1px solid #c3c3c3;
  width: 135px;
  padding: 10px 0 10px;
  background-color: #ffffff;
  margin-left: 35px;
  position: relative;
}
/* line 181, ../sass/components/_card.scss */
.title-team h3 {
  font-size: 15px;
  color: #02baab;
  line-height: 20px;
}
/* line 187, ../sass/components/_card.scss */
.title-team span {
  font-size: 13px;
  color: #c3c3c3;
}

/* line 193, ../sass/components/_card.scss */
.text-team {
  text-align: center;
  position: absolute;
  bottom: 107px;
  width: 210px;
}
/* line 199, ../sass/components/_card.scss */
.text-team p {
  font-size: 12px;
  line-height: 22px;
  width: 210px;
  padding: 60px 25px 0;
  margin-top: -30px;
  background-color: #ffffff;
  height: 120px;
}

/* line 1, ../sass/components/_nav.scss */
.list-menu {
  display: flex;
  text-align: center;
}
/* line 5, ../sass/components/_nav.scss */
.list-menu .nav {
  padding-top: 25px;
  width: 100px;
  color: #ffffff;
  justify-content: center;
}
/* line 14, ../sass/components/_nav.scss */
.list-menu .nav-item:nth-child(1) {
  border-top: 10px solid #ffae00;
}
/* line 14, ../sass/components/_nav.scss */
.list-menu .nav-item:nth-child(2) {
  border-top: 10px solid #fc7100;
}
/* line 14, ../sass/components/_nav.scss */
.list-menu .nav-item:nth-child(3) {
  border-top: 10px solid #e51c5e;
}
/* line 14, ../sass/components/_nav.scss */
.list-menu .nav-item:nth-child(4) {
  border-top: 10px solid #ae0f8d;
}
/* line 14, ../sass/components/_nav.scss */
.list-menu .nav-item:nth-child(5) {
  border-top: 10px solid #6d0fae;
}
/* line 14, ../sass/components/_nav.scss */
.list-menu .nav-item:nth-child(6) {
  border-top: 10px solid #33227a;
}
/* line 14, ../sass/components/_nav.scss */
.list-menu .nav-item:nth-child(7) {
  border-top: 10px solid #0c8fcc;
}
/* line 20, ../sass/components/_nav.scss */
.list-menu:last-child {
  margin-right: 0;
}
/* line 24, ../sass/components/_nav.scss */
.list-menu .nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
}

/* line 31, ../sass/components/_nav.scss */
.bg-faded {
  background-color: transparent;
}

/* line 35, ../sass/components/_nav.scss */
.navbar {
  padding: 0;
}

/* line 40, ../sass/components/_nav.scss */
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .open > .nav-link {
  color: #ffffff;
}

/* line 44, ../sass/components/_nav.scss */
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .open > .nav-link:hover {
  color: #ffffff;
}

/* line 48, ../sass/components/_nav.scss */
.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
}

/* line 52, ../sass/components/_nav.scss */
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #ffffff;
}

/* line 1, ../sass/components/_form.scss */
.form {
  border: 2px solid #434a50;
  min-height: 30px;
  padding-top: 4px;
}
/* line 6, ../sass/components/_form.scss */
.form .input-area {
  border: none;
  -webkit-appearance: none;
  width: 175px;
  outline: none;
  background-color: transparent;
  color: #ffffff;
}
/* line 15, ../sass/components/_form.scss */
.form ::-webkit-input-placeholder {
  color: #85939f;
  font-size: 15px;
  padding-left: 15px;
}

/* line 1, ../sass/components/_carousel.scss */
.carousel-inner {
  height: calc(100vmin - 55px);
}

/* line 5, ../sass/components/_carousel.scss */
.carousel-control-next-icon, .carousel-control-prev-icon {
  background-image: none;
}

/* line 9, ../sass/components/_carousel.scss */
.carousel-indicators .active {
  background-color: #02baab;
}

/* line 13, ../sass/components/_carousel.scss */
.text-carousel {
  top: 375px;
}
/* line 16, ../sass/components/_carousel.scss */
.text-carousel .text-color {
  color: #02baab;
  margin-bottom: 15px;
  font-size: 55px;
  font-weight: bold;
}
/* line 22, ../sass/components/_carousel.scss */
.text-carousel .text {
  color: #ffffff;
  margin-bottom: 100px;
}
/* line 27, ../sass/components/_carousel.scss */
.text-carousel .button-section {
  margin-right: 30px;
}

/* line 1, ../sass/components/_icon.scss */
.icon-color {
  color: #85939f;
}

/* line 5, ../sass/components/_icon.scss */
.icon-button {
  color: #ffffff;
  margin-left: -30px;
}

/* line 10, ../sass/components/_icon.scss */
.icon-list {
  float: left;
  margin-right: 25px;
  color: #02baab;
}

/* line 16, ../sass/components/_icon.scss */
.icon-social {
  color: #02baab;
  float: left;
  margin: 5px;
}

/* line 23, ../sass/components/_icon.scss */
.social-list .icon {
  width: 50px;
  height: 50px;
  text-align: center;
  display: inline-block;
  margin-bottom: 20px;
}
/* line 31, ../sass/components/_icon.scss */
.social-list .icon-brend {
  padding: 8px;
}

/* line 37, ../sass/components/_icon.scss */
.list-inform .icon-facebook {
  background-color: #3b5998;
}
/* line 41, ../sass/components/_icon.scss */
.list-inform .icon-twitter {
  background-color: #00a0d1;
}
/* line 45, ../sass/components/_icon.scss */
.list-inform .icon-youtube {
  background-color: #c4302b;
}
/* line 49, ../sass/components/_icon.scss */
.list-inform .icon-instagram {
  background-color: #825c48;
}
/* line 53, ../sass/components/_icon.scss */
.list-inform .icon-pinterest {
  background-color: #a30834;
}

/* line 58, ../sass/components/_icon.scss */
.icon-works {
  margin-top: 40px;
}
/* line 60, ../sass/components/_icon.scss */
.icon-works i {
  display: block;
  padding: 9px;
  background-color: #02baab;
  color: #ffffff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
}

/* line 76, ../sass/components/_icon.scss */
.icon-blog-page i {
  margin-right: 5px;
  color: #c3c3c3;
  background-color: #3b4954;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 3px;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
}
/* line 89, ../sass/components/_icon.scss */
.icon-blog-page span {
  margin-right: 30px;
  color: #c3c3c3;
  font-size: 15px;
  cursor: pointer;
}

/* line 1, ../sass/components/_breadcrumb.scss */
.breadcrumb {
  background-color: transparent;
  margin-top: 53px;
  padding: 0;
}
/* line 6, ../sass/components/_breadcrumb.scss */
.breadcrumb a {
  color: #c3c3c3;
  text-decoration: none;
  font-size: 15px;
}

/* line 13, ../sass/components/_breadcrumb.scss */
.breadcrumb-item + .breadcrumb-item::before {
  color: #c3c3c3;
}

/* line 1, ../sass/components/_pagination.scss */
.pagination {
  justify-content: center;
}

/* line 5, ../sass/components/_pagination.scss */
.page-link {
  border: none;
  color: #02baab;
  font-size: 15px;
  font-weight: bold;
}

/* line 1, ../sass/components/_tooltips.scss */
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #f8694d;
  color: white;
}

/* line 7, ../sass/components/_tooltips.scss */
.btn-secondary {
  border: none;
  border-color: #f8694d;
}

/* line 12, ../sass/components/_tooltips.scss */
.btn {
  border-radius: 0;
  vertical-align: baseline;
}

/* line 1, ../sass/components/_tabs.scss */
.nav-tabs {
  border: none;
}

/* line 5, ../sass/components/_tabs.scss */
.nav-tabs .nav-link {
  border: none;
  color: #02baab;
  border-radius: 0;
  font-size: 15px;
}

/* line 12, ../sass/components/_tabs.scss */
.nav-tabs .nav-link.active {
  color: #000000;
}

/* line 16, ../sass/components/_tabs.scss */
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-top: 5px solid #c3c3c3;
}

/* line 21, ../sass/components/_tabs.scss */
.nav-tabs .nav-link {
  padding: 0;
  margin: 10px 15px 25px;
}

/* line 2, ../sass/layout/_common.scss */
body {
  font: 100% 'Oxygen', sans-serif;
}

/* line 6, ../sass/layout/_common.scss */
* button:focus {
  outline: none;
}

/* line 10, ../sass/layout/_common.scss */
* {
  box-sizing: border-box;
  outline: none;
}

/* line 15, ../sass/layout/_common.scss */
.container {
  width: 970px;
  margin: 0 auto;
}

/* line 21, ../sass/layout/_common.scss */
section .header-section {
  width: 740px;
  margin: 0 auto;
  text-align: center;
}
/* line 27, ../sass/layout/_common.scss */
section .title-section {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 60px;
  letter-spacing: 1px;
  color: #000000;
}
/* line 35, ../sass/layout/_common.scss */
section .text-header {
  font-size: 18px;
  line-height: 25px;
  color: #3b4954;
  margin-bottom: 50px;
}

/* line 45, ../sass/layout/_common.scss */
.header-section h2:after {
  content: "";
  background-image: url("../../image/grey-line.png");
  width: 50px;
  height: 5px;
  display: block;
  margin: 30px auto 0;
}

/* line 55, ../sass/layout/_common.scss */
.blog-grid-view .container {
  display: flex;
  justify-content: space-between;
}

/* line 61, ../sass/layout/_common.scss */
.blog-grid-view {
  background: url("../../image/blog-page.png") top, rgba(102, 102, 102, 0.7);
  background-size: cover;
  background-blend-mode: multiply;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
}

/* line 72, ../sass/layout/_common.scss */
.blog-header h2 {
  color: #ffffff;
  font-size: 25px;
  margin-bottom: 20px;
}

/* line 1, ../sass/layout/_header.scss */
.wrapper-header-top {
  background-color: #000000;
  padding-top: 10px;
  padding-bottom: 15px;
}

/* line 7, ../sass/layout/_header.scss */
.wrapper-header-bottom {
  background-color: #474747;
  padding-bottom: 15px;
  position: absolute;
  z-index: 1;
  width: 100%;
}

/* line 15, ../sass/layout/_header.scss */
.header-top {
  display: flex;
  justify-content: space-between;
}

/* line 20, ../sass/layout/_header.scss */
.header-bottom {
  display: flex;
  justify-content: space-between;
}
/* line 24, ../sass/layout/_header.scss */
.header-bottom img {
  align-self: center;
  margin-top: 20px;
}

/* line 30, ../sass/layout/_header.scss */
.wrapper-boottom {
  position: relative;
}

/* line 1, ../sass/layout/_footer.scss */
.footer-top, .footer-bottom {
  background-color: #000000;
  padding-bottom: 50px;
}

/* line 6, ../sass/layout/_footer.scss */
.footer-list {
  color: #ffffff;
  display: flex;
  justify-content: center;
}
/* line 11, ../sass/layout/_footer.scss */
.footer-list h3 {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 50px;
}
/* line 17, ../sass/layout/_footer.scss */
.footer-list p {
  font-size: 12px;
}

/* line 23, ../sass/layout/_footer.scss */
.contact p {
  color: #c3c3c3;
  line-height: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
}
/* line 29, ../sass/layout/_footer.scss */
.contact span {
  color: #ffffff;
}
/* line 33, ../sass/layout/_footer.scss */
.contact a {
  text-decoration: none;
  color: #c3c3c3;
}

/* line 39, ../sass/layout/_footer.scss */
.maps {
  width: 210px;
  height: 150px;
}

/* line 44, ../sass/layout/_footer.scss */
.list-inform {
  width: 235px;
  padding-top: 50px;
  padding-right: 25px;
}

/* line 50, ../sass/layout/_footer.scss */
.list-inform:last-child {
  padding-right: 0;
}

/* line 56, ../sass/layout/_footer.scss */
.tweets a {
  text-decoration: none;
  color: #02baab;
}
/* line 61, ../sass/layout/_footer.scss */
.tweets p {
  line-height: 30px;
  margin-left: 30px;
}

/* line 67, ../sass/layout/_footer.scss */
.list-twwets {
  margin-bottom: 23px;
}

/* line 72, ../sass/layout/_footer.scss */
.social-list p {
  display: inline-block;
  width: 140px;
  margin-left: 15px;
}

/* line 81, ../sass/layout/_footer.scss */
.posts p {
  color: #02baab;
  margin-bottom: 30px;
  line-height: 30px;
}

/* line 92, ../sass/layout/_footer.scss */
.footer-list li:nth-child(1) {
  border-top: 15px solid #7827a9;
}
/* line 92, ../sass/layout/_footer.scss */
.footer-list li:nth-child(2) {
  border-top: 15px solid #0c8fcc;
}
/* line 92, ../sass/layout/_footer.scss */
.footer-list li:nth-child(3) {
  border-top: 15px solid #de1c5c;
}
/* line 92, ../sass/layout/_footer.scss */
.footer-list li:nth-child(4) {
  border-top: 15px solid #ffae00;
}

/* line 101, ../sass/layout/_footer.scss */
.footer-bottom .container {
  display: flex;
  justify-content: space-between;
}
/* line 106, ../sass/layout/_footer.scss */
.footer-bottom .button-transparent {
  font-size: 12px;
  border: 2px solid #02baab;
}
/* line 111, ../sass/layout/_footer.scss */
.footer-bottom .icon-button {
  color: #02baab;
}

/* line 116, ../sass/layout/_footer.scss */
.footer-botton-text {
  color: #ffffff;
  font-size: 13px;
}

/* line 1, ../sass/layout/pages/home/sections/steal.scss */
.steal {
  background-color: #ffffff;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

/* line 1, ../sass/layout/pages/home/sections/latest-works.scss */
.latest-works {
  padding-top: 100px;
  padding-bottom: 100px;
  background: url("../../image/latest-section.png") top, rgba(52, 52, 52, 0.7);
  background-size: cover;
  background-blend-mode: multiply;
  width: 100%;
}
/* line 11, ../sass/layout/pages/home/sections/latest-works.scss */
.latest-works .header-section h2:after {
  color: #ffffff;
}

/* line 19, ../sass/layout/pages/home/sections/latest-works.scss */
.latest-works .title-section {
  color: #ffffff;
}
/* line 23, ../sass/layout/pages/home/sections/latest-works.scss */
.latest-works .text-header {
  color: #ffffff;
}

/* line 1, ../sass/layout/pages/home/sections/buy.scss */
.buy-now {
  background-color: #02baab;
  padding-top: 50px;
  padding-bottom: 50px;
}
/* line 6, ../sass/layout/pages/home/sections/buy.scss */
.buy-now p {
  display: inline-block;
  color: #ffffff;
  font-size: 20px;
  margin-left: 95px;
}
/* line 13, ../sass/layout/pages/home/sections/buy.scss */
.buy-now .button-white {
  margin-left: 70px;
}

/* line 1, ../sass/layout/pages/home/sections/features.scss */
.features {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* line 6, ../sass/layout/pages/home/sections/features.scss */
.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* line 11, ../sass/layout/pages/home/sections/features.scss */
.features-list li {
  width: 50%;
  padding: 35px 45px 0 0;
}
/* line 16, ../sass/layout/pages/home/sections/features.scss */
.features-list:last-child {
  padding-right: 0;
}
/* line 20, ../sass/layout/pages/home/sections/features.scss */
.features-list .title-features-list {
  font-size: 24px;
  color: #000000;
  font-weight: bold;
  margin-bottom: 20px;
}
/* line 27, ../sass/layout/pages/home/sections/features.scss */
.features-list .text-list {
  font-size: 17px;
  color: #000000;
  line-height: 1.7;
  margin-left: 55px;
}

/* line 35, ../sass/layout/pages/home/sections/features.scss */
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

/* line 1, ../sass/layout/pages/home/sections/quotation.scss */
.quotation {
  padding-top: 100px;
  padding-bottom: 100px;
  background: url("../../image/quotes-section.png") top, rgba(52, 52, 52, 0.7);
  background-size: cover;
  background-blend-mode: multiply;
  text-align: center;
}

/* line 10, ../sass/layout/pages/home/sections/quotation.scss */
.quote {
  text-align: center;
  width: 615px;
  display: inline-block;
}
/* line 15, ../sass/layout/pages/home/sections/quotation.scss */
.quote p {
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 20px;
}
/* line 21, ../sass/layout/pages/home/sections/quotation.scss */
.quote cite {
  color: #02baab;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
}

/* line 31, ../sass/layout/pages/home/sections/quotation.scss */
.quote:before {
  content: "";
  background-image: url("../../image/quote.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 45px;
  display: inline-block;
  margin-bottom: 40px;
}

/* line 1, ../sass/layout/pages/home/sections/blog.scss */
.blog {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* line 1, ../sass/layout/pages/home/sections/expirience.scss */
.expirience {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #02baab;
}
/* line 6, ../sass/layout/pages/home/sections/expirience.scss */
.expirience .header-section {
  color: #ffffff;
}
/* line 9, ../sass/layout/pages/home/sections/expirience.scss */
.expirience h2:after {
  color: #ffffff;
}

/* line 14, ../sass/layout/pages/home/sections/expirience.scss */
.expirience-list {
  display: flex;
  justify-content: center;
}

/* line 19, ../sass/layout/pages/home/sections/expirience.scss */
.expirience-image {
  margin-right: 150px;
  text-align: center;
}
/* line 23, ../sass/layout/pages/home/sections/expirience.scss */
.expirience-image span {
  font-size: 40px;
  color: #ffffff;
}
/* line 28, ../sass/layout/pages/home/sections/expirience.scss */
.expirience-image p {
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
}

/* line 35, ../sass/layout/pages/home/sections/expirience.scss */
.expirience-image:after {
  content: "...";
  width: 30px;
  height: 30px;
  display: block;
  font-size: 80px;
  position: relative;
  left: 242px;
  bottom: 300px;
  color: white;
}

/* line 47, ../sass/layout/pages/home/sections/expirience.scss */
.expirience-image:last-child:after {
  content: "";
}

/* line 51, ../sass/layout/pages/home/sections/expirience.scss */
.expirience-image:last-child {
  margin-right: 0;
}

/* line 55, ../sass/layout/pages/home/sections/expirience.scss */
.radius-image-1 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #000000;
}
/* line 61, ../sass/layout/pages/home/sections/expirience.scss */
.radius-image-1 img {
  padding: 20px;
  margin: 0 auto;
}

/* line 67, ../sass/layout/pages/home/sections/expirience.scss */
.radius-image-2 {
  width: 200px;
  height: 200px;
  border: 5px solid #ffffff;
  border-radius: 50%;
  padding: 45px;
  margin-bottom: 30px;
}

/* line 1, ../sass/layout/pages/home/sections/team.scss */
.team {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* line 1, ../sass/layout/pages/blog/blog-article.scss */
.blog-article {
  padding-top: 50px;
  padding-bottom: 100px;
}

/* line 6, ../sass/layout/pages/blog/blog-article.scss */
.list-blog-page {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/* line 11, ../sass/layout/pages/blog/blog-article.scss */
.list-blog-page .list-cards-article {
  border-bottom: 1px solid #c3c3c3;
  margin-right: 30px;
  padding-bottom: 30px;
  width: 290px;
}
/* line 18, ../sass/layout/pages/blog/blog-article.scss */
.list-blog-page .image-blog {
  margin-bottom: 30px;
}
/* line 22, ../sass/layout/pages/blog/blog-article.scss */
.list-blog-page .title-blog {
  font-size: 24px;
  color: #02baab;
  font-weight: bold;
  margin-bottom: 30px;
}
/* line 29, ../sass/layout/pages/blog/blog-article.scss */
.list-blog-page .title-text {
  font-size: 17px;
  color: #000000;
  line-height: 25px;
  margin-bottom: 30px;
}
/* line 36, ../sass/layout/pages/blog/blog-article.scss */
.list-blog-page .learn-more {
  text-decoration: none;
  color: #02baab;
  font-size: 14px;
  margin-right: 155px;
}
/* line 43, ../sass/layout/pages/blog/blog-article.scss */
.list-blog-page .icon-blog {
  color: #02baab;
  margin-right: 5px;
}

/* line 49, ../sass/layout/pages/blog/blog-article.scss */
.list-blog-page .list-cards-article:nth-child(3n) {
  margin-right: 0;
}

/* line 53, ../sass/layout/pages/blog/blog-article.scss */
.title-blog:hover, .learn-more:hover, .icon-blog:hover {
  color: #6d0fae;
}

/* line 57, ../sass/layout/pages/blog/blog-article.scss */
.list-blog-page .list-cards-article {
  margin-bottom: 50px;
}

/* line 1, ../sass/layout/pages/blog/blog-2.scss */
.post-blog {
  padding-top: 50px;
}

/* line 6, ../sass/layout/pages/blog/blog-2.scss */
.post-blog .container {
  display: flex;
  justify-content: space-between;
}

/* line 12, ../sass/layout/pages/blog/blog-2.scss */
.first-post {
  padding-bottom: 100px;
}
/* line 15, ../sass/layout/pages/blog/blog-2.scss */
.first-post p {
  width: 690px;
  font-size: 14px;
  line-height: 25px;
  color: #474e52;
  margin-bottom: 35px;
}
/* line 23, ../sass/layout/pages/blog/blog-2.scss */
.first-post p:last-child {
  padding-bottom: 50px;
}
/* line 27, ../sass/layout/pages/blog/blog-2.scss */
.first-post .main-img {
  margin-bottom: 50px;
}
/* line 31, ../sass/layout/pages/blog/blog-2.scss */
.first-post h3 {
  font-size: 17px;
  font-weight: bold;
  line-height: 25px;
  color: #3b4954;
}
/* line 38, ../sass/layout/pages/blog/blog-2.scss */
.first-post blockquote {
  width: 630px;
  font-size: 20px;
  color: #c69c6d;
  line-height: 30px;
  margin-left: 15px;
}
/* line 46, ../sass/layout/pages/blog/blog-2.scss */
.first-post cite {
  font-size: 13px;
  color: #c69c6d;
  font-style: italic;
  margin-left: 30px;
  line-height: 30px;
  margin-top: 40px;
}

/* line 56, ../sass/layout/pages/blog/blog-2.scss */
.quotation-blog-2 {
  border-left: 5px solid #eeeeee;
  margin: 40px 0 40px 30px;
}

/* line 63, ../sass/layout/pages/blog/blog-2.scss */
.image-article img {
  margin-right: 30px;
  margin-bottom: 35px;
}
/* line 68, ../sass/layout/pages/blog/blog-2.scss */
.image-article img:last-child {
  margin-right: 0;
}

/* line 73, ../sass/layout/pages/blog/blog-2.scss */
.article-footer {
  width: 690px;
  border-top: 1px solid #c3c3c3;
  padding-top: 30px;
}

/* line 79, ../sass/layout/pages/blog/blog-2.scss */
.article-tags {
  margin-bottom: 30px;
}
/* line 82, ../sass/layout/pages/blog/blog-2.scss */
.article-tags i {
  color: #02baab;
}
/* line 86, ../sass/layout/pages/blog/blog-2.scss */
.article-tags span {
  padding-bottom: 30px;
  cursor: pointer;
  font-size: 13px;
}
/* line 92, ../sass/layout/pages/blog/blog-2.scss */
.article-tags a {
  color: #02baab;
  font-size: 12px;
}
/* line 97, ../sass/layout/pages/blog/blog-2.scss */
.article-tags a:hover {
  color: #6d0fae;
  text-decoration: none;
}

/* line 103, ../sass/layout/pages/blog/blog-2.scss */
.facebook {
  background-color: #3b5998;
}

/* line 107, ../sass/layout/pages/blog/blog-2.scss */
.twitter {
  background-color: #00a0d1;
}

/* line 111, ../sass/layout/pages/blog/blog-2.scss */
.mail, .print {
  background-color: #738a8d;
}

/* line 115, ../sass/layout/pages/blog/blog-2.scss */
.plus {
  background-color: #f8694d;
}

/* line 119, ../sass/layout/pages/blog/blog-2.scss */
.article-share {
  margin-bottom: 50px;
}
/* line 122, ../sass/layout/pages/blog/blog-2.scss */
.article-share i {
  color: #ffffff;
  width: 35px;
  height: 35px;
  padding: 5px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}

/* line 134, ../sass/layout/pages/blog/blog-2.scss */
.article-footer .related-posts p {
  margin-bottom: 5px;
}

/* line 139, ../sass/layout/pages/blog/blog-2.scss */
.related-posts {
  display: flex;
}
/* line 142, ../sass/layout/pages/blog/blog-2.scss */
.related-posts i {
  color: #c3c3c3;
  margin-bottom: 15px;
  margin-top: 10px;
}
/* line 148, ../sass/layout/pages/blog/blog-2.scss */
.related-posts p {
  font-size: 12px;
  color: #3b4954;
  font-weight: bold;
  width: 197px;
}
/* line 155, ../sass/layout/pages/blog/blog-2.scss */
.related-posts a {
  text-decoration: none;
  color: #02baab;
  font-size: 12px;
}
/* line 161, ../sass/layout/pages/blog/blog-2.scss */
.related-posts a:hover {
  color: #6d0fae;
}

/* line 166, ../sass/layout/pages/blog/blog-2.scss */
.post {
  margin-right: 40px;
}

/* line 169, ../sass/layout/pages/blog/blog-2.scss */
.post:last-child {
  margin-right: 0;
}

/* line 173, ../sass/layout/pages/blog/blog-2.scss */
.sidebar {
  width: 210px;
}
/* line 176, ../sass/layout/pages/blog/blog-2.scss */
.sidebar h3 {
  font-size: 17px;
  font-weight: bold;
  line-height: 25px;
  color: #3b4954;
}
/* line 182, ../sass/layout/pages/blog/blog-2.scss */
.sidebar a {
  text-decoration: none;
  color: #02baab;
  font-size: 12px;
}
/* line 188, ../sass/layout/pages/blog/blog-2.scss */
.sidebar a:hover {
  color: #6d0fae;
}
/* line 191, ../sass/layout/pages/blog/blog-2.scss */
.sidebar i {
  color: #c3c3c3;
  font-size: 20px;
  margin-right: 13px;
}

/* line 199, ../sass/layout/pages/blog/blog-2.scss */
.categories {
  margin-bottom: 50px;
}
/* line 202, ../sass/layout/pages/blog/blog-2.scss */
.categories li {
  border-bottom: 1px solid #c3c3c3;
  padding: 15px 0;
}
/* line 207, ../sass/layout/pages/blog/blog-2.scss */
.categories li:first-child {
  padding: 0;
}
/* line 211, ../sass/layout/pages/blog/blog-2.scss */
.categories i {
  transform: rotate(-90deg);
}

/* line 216, ../sass/layout/pages/blog/blog-2.scss */
.recent-comments {
  margin-bottom: 50px;
}
/* line 219, ../sass/layout/pages/blog/blog-2.scss */
.recent-comments li {
  border-bottom: 1px solid #c3c3c3;
  padding: 15px 0;
}
/* line 224, ../sass/layout/pages/blog/blog-2.scss */
.recent-comments span {
  color: #3b4954;
  font-size: 12px;
}
/* line 229, ../sass/layout/pages/blog/blog-2.scss */
.recent-comments a {
  display: block;
  margin-left: 30px;
}
/* line 234, ../sass/layout/pages/blog/blog-2.scss */
.recent-comments i {
  font-size: 15px;
}

/* line 239, ../sass/layout/pages/blog/blog-2.scss */
.works {
  text-align: center;
  margin-bottom: 50px;
}
/* line 243, ../sass/layout/pages/blog/blog-2.scss */
.works h3 {
  margin-bottom: 20px;
  text-align: start;
}
/* line 248, ../sass/layout/pages/blog/blog-2.scss */
.works img {
  margin-bottom: 15px;
}
/* line 252, ../sass/layout/pages/blog/blog-2.scss */
.works i {
  color: #02baab;
}

/* line 258, ../sass/layout/pages/blog/blog-2.scss */
.button-tag {
  border: 1px solid #c3c3c3;
  padding: 10px 10px;
}

/* line 265, ../sass/layout/pages/blog/blog-2.scss */
.tag-cloud-list li {
  display: inline-block;
  padding: 0;
  margin: 25px 0 0 0;
}

/* line 272, ../sass/layout/pages/blog/blog-2.scss */
.tag-cloud-list li a:hover {
  background-color: #02baab;
  border: 1px solid #02baab;
  color: #fff;
}

/* line 278, ../sass/layout/pages/blog/blog-2.scss */
.comment-blog {
  background-color: #ebf0f3;
  padding-top: 50px;
}
/* line 282, ../sass/layout/pages/blog/blog-2.scss */
.comment-blog h3 {
  font-size: 17px;
  font-weight: bold;
  line-height: 25px;
  color: #3b4954;
}

/* line 291, ../sass/layout/pages/blog/blog-2.scss */
.form-blog {
  display: flex;
  flex-wrap: wrap;
}
/* line 295, ../sass/layout/pages/blog/blog-2.scss */
.form-blog .button-transparent {
  border: 2px solid #02baab;
  font-size: 12px;
  color: #02baab;
  padding: 10px 15px;
  background-color: white;
  margin-top: 30px;
  margin-left: 565px;
}

/* line 306, ../sass/layout/pages/blog/blog-2.scss */
.form-control {
  border-radius: 0;
}

/* line 310, ../sass/layout/pages/blog/blog-2.scss */
.form-control:focus {
  border-color: #02baab;
}

/* line 313, ../sass/layout/pages/blog/blog-2.scss */
.col-form-label {
  padding: 20px 0 15px;
}

/* line 317, ../sass/layout/pages/blog/blog-2.scss */
.form-group {
  padding: 0 20px 0 0;
}

/* line 321, ../sass/layout/pages/blog/blog-2.scss */
.form-input {
  width: 220px;
}

/* line 324, ../sass/layout/pages/blog/blog-2.scss */
.textarea-message {
  width: 690px;
  height: 135px;
  resize: none;
}

/* line 330, ../sass/layout/pages/blog/blog-2.scss */
.label-form {
  font-size: 14px;
  color: #3b4954;
  font-weight: bold;
}

/* line 336, ../sass/layout/pages/blog/blog-2.scss */
.comments-section {
  padding-bottom: 100px;
}
/* line 338, ../sass/layout/pages/blog/blog-2.scss */
.comments-section h3 {
  margin-bottom: 30px;
}

/* line 344, ../sass/layout/pages/blog/blog-2.scss */
.comment-header span {
  font-size: 15px;
  color: #02baab;
  font-weight: bold;
  text-align: end;
  display: inline-block;
}

/* line 353, ../sass/layout/pages/blog/blog-2.scss */
.header-text {
  display: flex;
  justify-content: space-between;
  width: 630px;
  margin-bottom: 15px;
}

/* line 360, ../sass/layout/pages/blog/blog-2.scss */
.date-comments {
  border-bottom: 1px solid #c3c3c3;
  width: 630px;
}
/* line 365, ../sass/layout/pages/blog/blog-2.scss */
.date-comments span {
  color: #c6cdd2;
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 10px;
}

/* line 373, ../sass/layout/pages/blog/blog-2.scss */
.comment {
  width: 690px;
  padding: 25px;
  border: 7px solid #dee7ed;
  background-color: #ffffff;
  margin-top: 30px;
  overflow: hidden;
}
/* line 381, ../sass/layout/pages/blog/blog-2.scss */
.comment p {
  width: 600px;
  font-size: 15px;
  line-height: 25px;
}

/* line 388, ../sass/layout/pages/blog/blog-2.scss */
.comment-header {
  margin-bottom: 10px;
}

/* line 392, ../sass/layout/pages/blog/blog-2.scss */
.comment-2, .comment-3 {
  border: none;
}

/* line 396, ../sass/layout/pages/blog/blog-2.scss */
.comment-2 {
  width: 660px;
  margin-left: 30px;
}

/* line 1, ../sass/layout/pages/portfolio/_portfolio.scss */
.portfolio-title {
  margin-top: 43px;
}

/* line 5, ../sass/layout/pages/portfolio/_portfolio.scss */
.portfilio {
  padding-top: 50px;
  padding-bottom: 100px;
}

/* line 10, ../sass/layout/pages/portfolio/_portfolio.scss */
.header-portfolio {
  margin-bottom: 50px;
}
/* line 13, ../sass/layout/pages/portfolio/_portfolio.scss */
.header-portfolio p {
  font-size: 14px;
  line-height: 20px;
}

/* line 20, ../sass/layout/pages/portfolio/_portfolio.scss */
.portfolio-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/* line 25, ../sass/layout/pages/portfolio/_portfolio.scss */
.portfolio-list li {
  margin-bottom: 30px;
}

/* line 30, ../sass/layout/pages/portfolio/_portfolio.scss */
.portfolio-list .cards-list-section:nth-child(3n) {
  margin-right: 0;
}

/* line 34, ../sass/layout/pages/portfolio/_portfolio.scss */
.icon-portfolio {
  color: #02baab;
  text-align: center;
}
/* line 38, ../sass/layout/pages/portfolio/_portfolio.scss */
.icon-portfolio a {
  font-size: 15px;
  display: block;
  text-decoration: none;
  color: #02baab;
  font-weight: bold;
}
/* line 46, ../sass/layout/pages/portfolio/_portfolio.scss */
.icon-portfolio i {
  font-size: 20px;
}

@media screen and (max-width: 599px) {
  /* line 2, ../sass/layout/pages/home/media.scss */
  .container {
    width: 320px;
    overflow: hidden;
    padding-right: 10px;
    padding-left: 10px;
  }

  /* line 9, ../sass/layout/pages/home/media.scss */
  .wrapper-header-top {
    display: none;
  }

  /* line 15, ../sass/layout/pages/home/media.scss */
  .header-bottom .list-menu .nav-item {
    border-top: none;
  }

  /* line 19, ../sass/layout/pages/home/media.scss */
  .wrapper-header-bottom {
    padding-bottom: 5px;
  }

  /* line 23, ../sass/layout/pages/home/media.scss */
  .header-bottom {
    width: 100%;
  }
  /* line 26, ../sass/layout/pages/home/media.scss */
  .header-bottom img {
    width: 70px;
    height: 30px;
    margin-top: 5px;
  }

  /* line 33, ../sass/layout/pages/home/media.scss */
  .list-menu {
    margin-top: 15px;
  }
  /* line 36, ../sass/layout/pages/home/media.scss */
  .list-menu li {
    padding-top: 0;
    border-bottom: 1px solid #c3c3c3;
  }
  /* line 41, ../sass/layout/pages/home/media.scss */
  .list-menu a {
    font-size: 13px;
  }
  /* line 45, ../sass/layout/pages/home/media.scss */
  .list-menu .nav {
    padding-top: 15px;
  }

  /* line 52, ../sass/layout/pages/home/media.scss */
  .wrapper-header-bottom .menu-navigation .list-menu .nav-item a {
    color: #ffffff;
  }

  /* line 56, ../sass/layout/pages/home/media.scss */
  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/></svg>");
    margin-right: 7px;
    margin-top: 4px;
  }

  /* line 62, ../sass/layout/pages/home/media.scss */
  .navbar-light .navbar-toggler {
    border: none;
    margin-left: 25px;
  }

  /* line 67, ../sass/layout/pages/home/media.scss */
  .steal {
    padding-top: 65px;
    padding-bottom: 15px;
  }

  /* line 72, ../sass/layout/pages/home/media.scss */
  section .header-section {
    width: 100%;
  }

  /* line 76, ../sass/layout/pages/home/media.scss */
  .steal h2:after, .latest-works h2:after, .features h2:after, .blog h2:after, .expirience h2:after, .team h2:after {
    width: 50px;
    height: 5px;
    margin: 15px auto 0;
  }

  /* line 82, ../sass/layout/pages/home/media.scss */
  section .title-section {
    font-size: 20px;
    margin-bottom: 15px;
  }

  /* line 87, ../sass/layout/pages/home/media.scss */
  .text-header {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 15px;
  }

  /* line 93, ../sass/layout/pages/home/media.scss */
  .button-section, .button-transparent {
    font-weight: bold;
    border: 1px solid #02baab;
    font-size: 12px;
    padding: 10px 10px;
  }

  /* line 100, ../sass/layout/pages/home/media.scss */
  .latest-works, .features, .quotation, .blog, .expirience, .team {
    padding-top: 10px;
    padding-bottom: 15px;
  }

  /* line 105, ../sass/layout/pages/home/media.scss */
  .list-cards, .cards-list-section {
    display: block;
    width: 290px;
    margin: 0 auto;
  }

  /* line 111, ../sass/layout/pages/home/media.scss */
  .cards-list-section {
    margin-top: 20px;
  }

  /* line 115, ../sass/layout/pages/home/media.scss */
  .footer-cards {
    width: 290px;
  }

  /* line 119, ../sass/layout/pages/home/media.scss */
  .buy-now {
    text-align: center;
  }
  /* line 122, ../sass/layout/pages/home/media.scss */
  .buy-now p {
    font-size: 17px;
    margin-left: 0;
  }
  /* line 127, ../sass/layout/pages/home/media.scss */
  .buy-now .buy-now {
    margin-left: 0;
  }
  /* line 131, ../sass/layout/pages/home/media.scss */
  .buy-now .button-transparent {
    border: 1px solid #ffffff;
    font-size: 12px;
    padding: 10px 20px;
    margin-top: 20px;
    margin-left: 0;
  }
  /* line 139, ../sass/layout/pages/home/media.scss */
  .buy-now .icon-button {
    margin-left: -19px;
    vertical-align: middle;
  }

  /* line 145, ../sass/layout/pages/home/media.scss */
  .features-list {
    display: block;
  }

  /* line 150, ../sass/layout/pages/home/media.scss */
  .features-list li {
    width: 100%;
    padding: 15px 0 0 0;
  }

  /* line 156, ../sass/layout/pages/home/media.scss */
  .features-list .text-list {
    font-size: 15px;
    line-height: 1.4;
    margin-left: 0;
  }

  /* line 162, ../sass/layout/pages/home/media.scss */
  .features-list .title-features-list {
    font-size: 20px;
    margin-bottom: 10px;
  }

  /* line 167, ../sass/layout/pages/home/media.scss */
  .icon-list {
    margin-right: 15px;
  }

  /* line 171, ../sass/layout/pages/home/media.scss */
  .blog {
    text-align: center;
  }

  /* line 175, ../sass/layout/pages/home/media.scss */
  .quote {
    width: auto;
  }
  /* line 178, ../sass/layout/pages/home/media.scss */
  .quote p {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 5px;
  }
  /* line 184, ../sass/layout/pages/home/media.scss */
  .quote cite {
    font-size: 12px;
  }

  /* line 189, ../sass/layout/pages/home/media.scss */
  .quote:before {
    margin-bottom: 15px;
  }

  /* line 194, ../sass/layout/pages/home/media.scss */
  .list-cards-blog {
    display: block;
  }

  /* line 198, ../sass/layout/pages/home/media.scss */
  .list-cards-blog .list-cards-article {
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 20px;
    margin-right: 0;
  }

  /* line 205, ../sass/layout/pages/home/media.scss */
  .list-cards-blog .title-blog {
    font-size: 18px;
    margin-bottom: 10px;
  }

  /* line 210, ../sass/layout/pages/home/media.scss */
  .list-cards-blog .title-text {
    font-size: 15px;
    margin-bottom: 15px;
  }

  /* line 215, ../sass/layout/pages/home/media.scss */
  .list-cards-blog .image-blog {
    margin-bottom: 15px;
  }

  /* line 219, ../sass/layout/pages/home/media.scss */
  .expirience-list {
    display: block;
    margin-left: 73px;
  }

  /* line 224, ../sass/layout/pages/home/media.scss */
  .expirience-image:last-child {
    margin-right: 75px;
  }

  /* line 228, ../sass/layout/pages/home/media.scss */
  .expirience-image:after {
    display: none;
  }

  /* line 232, ../sass/layout/pages/home/media.scss */
  .expirience-image {
    margin-right: 75px;
    margin-bottom: 20px;
  }
  /* line 236, ../sass/layout/pages/home/media.scss */
  .expirience-image span {
    font-size: 25px;
  }
  /* line 240, ../sass/layout/pages/home/media.scss */
  .expirience-image p {
    font-size: 15px;
  }

  /* line 245, ../sass/layout/pages/home/media.scss */
  .radius-image-2 {
    width: 150px;
    height: 150px;
    padding: 20px;
    margin-bottom: 20px;
  }

  /* line 252, ../sass/layout/pages/home/media.scss */
  .team {
    display: none;
  }

  /* line 256, ../sass/layout/pages/home/media.scss */
  .footer-list {
    display: block;
  }

  /* line 260, ../sass/layout/pages/home/media.scss */
  .list-inform {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  /* line 266, ../sass/layout/pages/home/media.scss */
  .footer-list h3 {
    margin-bottom: 20px;
  }

  /* line 270, ../sass/layout/pages/home/media.scss */
  .contact p {
    line-height: 20px;
    margin-bottom: 15px;
  }

  /* line 275, ../sass/layout/pages/home/media.scss */
  .footer-top, .footer-bottom {
    padding-bottom: 10px;
  }

  /* line 281, ../sass/layout/pages/home/media.scss */
  .footer-bottom button {
    display: none;
  }

  /* line 286, ../sass/layout/pages/home/media.scss */
  .social-list p {
    width: 164px;
    margin-left: 15px;
  }

  /* line 291, ../sass/layout/pages/home/media.scss */
  .footer-bottom .icon-button {
    display: none;
  }

  /* line 295, ../sass/layout/pages/home/media.scss */
  .footer-bottom .footer-botton-text {
    font-size: 10px;
    margin-left: 0;
  }

  /* line 300, ../sass/layout/pages/home/media.scss */
  .footer-bottom .footer-botton-text {
    font-size: 12px;
    margin-left: 0;
  }

  /* line 305, ../sass/layout/pages/home/media.scss */
  .footer-bottom-button {
    margin-right: 0;
  }

  /* line 309, ../sass/layout/pages/home/media.scss */
  #carouselExampleIndicators {
    display: none;
  }
}
@media screen and (min-width: 600px) and (max-width: 992px) {
  /* line 316, ../sass/layout/pages/home/media.scss */
  .container {
    width: 600px;
  }

  /* line 322, ../sass/layout/pages/home/media.scss */
  .header-bottom .list-menu .nav-item {
    border-top: none;
  }

  /* line 326, ../sass/layout/pages/home/media.scss */
  .wrapper-header-bottom {
    padding-bottom: 10px;
  }

  /* line 330, ../sass/layout/pages/home/media.scss */
  .header-bottom {
    width: 100%;
  }
  /* line 333, ../sass/layout/pages/home/media.scss */
  .header-bottom img {
    width: 129px;
    height: 48px;
    margin-top: 5px;
  }

  /* line 340, ../sass/layout/pages/home/media.scss */
  .list-menu {
    margin-top: 10px;
  }
  /* line 343, ../sass/layout/pages/home/media.scss */
  .list-menu li {
    padding-top: 10px;
    border-bottom: 1px solid #c3c3c3;
  }
  /* line 348, ../sass/layout/pages/home/media.scss */
  .list-menu a {
    font-size: 15px;
  }

  /* line 355, ../sass/layout/pages/home/media.scss */
  .wrapper-header-bottom .menu-navigation .list-menu .nav-item a {
    color: #ffffff;
  }

  /* line 359, ../sass/layout/pages/home/media.scss */
  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/></svg>");
    margin-top: 12px;
  }

  /* line 364, ../sass/layout/pages/home/media.scss */
  .navbar-light .navbar-toggler {
    border: none;
    margin-right: 7px;
  }

  /* line 369, ../sass/layout/pages/home/media.scss */
  .steal {
    padding-top: 75px;
    padding-bottom: 15px;
  }

  /* line 374, ../sass/layout/pages/home/media.scss */
  section .header-section {
    width: 100%;
  }

  /* line 378, ../sass/layout/pages/home/media.scss */
  .steal h2:after, .latest-works h2:after, .features h2:after, .blog h2:after, .expirience h2:after, .team h2:after {
    width: 50px;
    height: 5px;
    margin: 20px auto 0;
  }

  /* line 384, ../sass/layout/pages/home/media.scss */
  .title-section {
    font-size: 25px;
    margin-bottom: 15px;
  }

  /* line 389, ../sass/layout/pages/home/media.scss */
  .text-header {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 15px;
  }

  /* line 395, ../sass/layout/pages/home/media.scss */
  .latest-works, .features, .quotation, .blog, .expirience, .team {
    padding-top: 20px;
    padding-bottom: 15px;
  }

  /* line 400, ../sass/layout/pages/home/media.scss */
  .list-cards .cards-list-section {
    margin-right: 0;
  }

  /* line 404, ../sass/layout/pages/home/media.scss */
  .list-cards {
    display: block;
    width: 290px;
    margin: 0 auto;
  }

  /* line 410, ../sass/layout/pages/home/media.scss */
  .cards-list-section {
    margin-right: 0;
    margin-top: 20px;
  }

  /* line 415, ../sass/layout/pages/home/media.scss */
  .footer-cards {
    width: 290px;
  }

  /* line 419, ../sass/layout/pages/home/media.scss */
  .buy-now {
    text-align: center;
    margin-left: 0;
  }
  /* line 423, ../sass/layout/pages/home/media.scss */
  .buy-now p {
    font-size: 20px;
    margin-left: 0;
  }

  /* line 429, ../sass/layout/pages/home/media.scss */
  .buy-now .button-white {
    margin-left: 0;
    margin-top: 20px;
  }

  /* line 435, ../sass/layout/pages/home/media.scss */
  .features-list li {
    width: 45%;
    padding: 15px 0 0 0;
    margin-right: 25px;
    text-align: justify;
  }

  /* line 443, ../sass/layout/pages/home/media.scss */
  section .title-section {
    margin-bottom: 30px;
  }

  /* line 447, ../sass/layout/pages/home/media.scss */
  .text-list {
    font-size: 15px;
    line-height: 1.4;
    margin-left: 0;
  }

  /* line 453, ../sass/layout/pages/home/media.scss */
  .icon-list {
    margin-right: 22px;
  }

  /* line 457, ../sass/layout/pages/home/media.scss */
  .features-list .title-features-list {
    font-size: 17px;
    margin-bottom: 15px;
  }

  /* line 462, ../sass/layout/pages/home/media.scss */
  .features-list .text-list {
    font-size: 15px;
    margin-left: 0;
  }

  /* line 467, ../sass/layout/pages/home/media.scss */
  .quote {
    width: auto;
  }
  /* line 470, ../sass/layout/pages/home/media.scss */
  .quote p {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  /* line 476, ../sass/layout/pages/home/media.scss */
  .quote cite {
    font-size: 15px;
  }

  /* line 481, ../sass/layout/pages/home/media.scss */
  .quote:before {
    margin-bottom: 20px;
  }

  /* line 485, ../sass/layout/pages/home/media.scss */
  .list-cards-blog {
    display: block;
    text-align: center;
  }

  /* line 490, ../sass/layout/pages/home/media.scss */
  .list-cards-blog .list-cards-article {
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 20px;
    margin-right: 0;
  }

  /* line 497, ../sass/layout/pages/home/media.scss */
  .expirience-list {
    margin-left: 73px;
  }

  /* line 501, ../sass/layout/pages/home/media.scss */
  .expirience-image:last-child {
    margin-right: 75px;
  }

  /* line 505, ../sass/layout/pages/home/media.scss */
  .expirience-image:after {
    font-size: 60px;
    left: 165px;
    bottom: 220px;
  }

  /* line 511, ../sass/layout/pages/home/media.scss */
  .expirience-image {
    margin-right: 75px;
    margin-bottom: 20px;
  }
  /* line 515, ../sass/layout/pages/home/media.scss */
  .expirience-image span {
    font-size: 25px;
  }
  /* line 519, ../sass/layout/pages/home/media.scss */
  .expirience-image p {
    font-size: 15px;
  }

  /* line 524, ../sass/layout/pages/home/media.scss */
  .radius-image-2 {
    width: 150px;
    height: 150px;
    padding: 20px;
    margin-bottom: 20px;
  }

  /* line 531, ../sass/layout/pages/home/media.scss */
  .team {
    display: none;
  }

  /* line 535, ../sass/layout/pages/home/media.scss */
  .footer-list {
    display: block;
    text-align: center;
  }

  /* line 540, ../sass/layout/pages/home/media.scss */
  .list-inform {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  /* line 546, ../sass/layout/pages/home/media.scss */
  .footer-list h3 {
    margin-bottom: 20px;
  }

  /* line 550, ../sass/layout/pages/home/media.scss */
  .icon-social {
    float: none;
  }

  /* line 554, ../sass/layout/pages/home/media.scss */
  .contact p {
    line-height: 20px;
    margin-bottom: 15px;
    font-size: 12px;
  }

  /* line 560, ../sass/layout/pages/home/media.scss */
  .maps {
    width: 160px;
    height: 130px;
  }

  /* line 566, ../sass/layout/pages/home/media.scss */
  .social-list p {
    display: none;
  }
  /* line 569, ../sass/layout/pages/home/media.scss */
  .social-list .icon {
    margin-right: 20px;
  }

  /* line 574, ../sass/layout/pages/home/media.scss */
  .footer-bottom .footer-botton-text {
    margin-left: 0;
  }

  /* line 578, ../sass/layout/pages/home/media.scss */
  .footer-bottom-button {
    margin-right: 0;
  }

  /* line 582, ../sass/layout/pages/home/media.scss */
  .carousel-inner img {
    height: auto;
    width: 100%;
  }

  /* line 586, ../sass/layout/pages/home/media.scss */
  .text-carousel .text {
    margin-bottom: 30px;
  }

  /* line 590, ../sass/layout/pages/home/media.scss */
  .text-carousel .text-color {
    font-size: 35px;
  }
}
