
body {
  font:100% 'Oxygen', sans-serif;
 }

* button:focus{
  outline: none;
}

* {
  box-sizing: border-box;
  outline: none;
}

.container {
  width: 970px;
  margin: 0 auto;
}

section {
  & .header-section {
    width: 740px;
    margin: 0 auto;
    text-align: center;
  }

  & .title-section {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 60px;
    letter-spacing: 1px;
    color:$color-black;
  }

  & .text-header {
    font-size:18px;
    line-height: 25px;
    color: $color-dark;
    margin-bottom: 50px;
  }
}

.header-section {

  h2:after {
    content: "";
    background-image: url('../../image/grey-line.png');
    width: 50px;
    height: 5px;
    display: block;
    margin: 30px auto 0;
  }
}

.blog-grid-view .container {
  display: flex;
  justify-content: space-between;
}


.blog-grid-view {
  background: url('../../image/blog-page.png') top, rgba(102, 102, 102, 0.7);
  background-size: cover;
  background-blend-mode: multiply;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
}

.blog-header {

  h2 {
    color: $main-color;
    font-size: 25px;
    margin-bottom: 20px;
  }
}



