body {
  font:100% 'Oxygen', sans-serif;
 }

* {
  box-sizing: border-box;
}

.containar {
  width: 1200px;
  margin: 0 auto;
}

/*--- HEADER----*/
.wrapper-header-top{
  background-color: $header-background-top;
  padding-top: 10px;
  padding-bottom: 15px;
}

.wrapper-header-bottom {
  background-color: $header-background-bottom;
  padding-bottom: 15px;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.header-bottom {
  display: flex;
  justify-content: space-between;

  img {
    align-self: center;
    margin-top: 20px;
  }
}

//.button-registration {
//  display: flex;
//
//  .button-registration-1 {
//    margin-right: 35px;
//  }
//
//  .button-registration-1:last-child {
//    margin-right: 0;
//  }
//
//  .button-registration {
//    padding: 0;
//  }
// }

/*--- SECTION STEAL----*/

.steal {
  background-color: $bacground-white;
  padding-top: $padding-section;
  padding-bottom: $padding-section;
  text-align: center;

  h2:after {
    content: "";
    background-image: url('../../image/grey-line.png');
    width: 50px;
    height: 5px;
    display: block;
    margin: 30px auto 0;
  }
}

.header-section {
  width: 740px;
  margin: 0 auto;
  text-align: center;
}

.title-section {
  font-size: $title-size;
  font-weight: bold;
  margin-bottom: $margin-section;
  letter-spacing: 1px;
}

.text-header {
  font-size: $text-header-size;
  line-height: 25px;
  color: $text-color-header-section;
  margin-bottom: $margin-section;
}


/*--- Latest works section----*/
.latest-works {
  padding-top: $padding-section;
  padding-bottom: $padding-section;
  background: url('../../image/latest-section.png')top, rgba(52,52,52,0.7);
  background-size: cover;
  background-blend-mode: multiply;
  width: 100%;
  min-height: 730px;

  h2:after {
    content: "";
    background-image: url('../../image/grey-line.png');
    width: 50px;
    height: 5px;
    display: block;
    margin: 30px auto 0;
    color:$color-first;
  }
}

.latest-works {
  .title-section  {
    color:$color-first;
  }

  .text-header {
    color:$color-first
  }
}

/*--- Buy section----*/

.buy-now {
  background-color: $buy-bacground;
  padding-top: $padding-buy-section;
  padding-bottom: $padding-buy-section;

  p {
    display: inline-block;
    color: $color-first;
    font-size: $text-header-size;
    margin-left: 95px;
  }

  .button-white {
    margin-left: 147px;
  }
}

/*--- Features section----*/

.features {
  padding-top: $padding-section;
  padding-bottom: $padding-section;

  h2:after {
    content: "";
    background-image: url('../../image/grey-line.png');
    width: 50px;
    height: 5px;
    display: block;
    margin: 30px auto 0;
  }
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  li {
    width: 42%;
    padding: 35px 45px 0 0;
  }

  li:last-child {
    padding-right: 0;
  }
}

.title-features-list {
  font-size: $size-title;
  color:$color-header;
  font-weight: bold;
  margin-bottom: 20px;
}

.text-list {
  font-size:$text-header-size2;
  color:$color-header;
  line-height: 1.7;
  margin-left: 55px;
}

.icon-list {
  float: left;
  margin-right: 25px;
  color: $text-color;
}
.clearfix:after {
  content: " ";
  display: table;
  clear:both;
}

/*--- Quotation section----*/

.quotation {
  padding-top: $padding-section;
  padding-bottom: $padding-section;
  background: url('../../image/quotes-section.png') top, rgba(52,52,52,0.7);
  background-size: cover;
  background-blend-mode: multiply;
  text-align: center;

}

.quote {
  text-align: center;
  width: 615px;
  display: inline-block;

    p {
    color: $color-first;
    font-size: $size-title-2;
    line-height: 30px;
    margin-bottom: 20px;
    }
  cite {
    color: $text-color;
    font-weight: bold;
    text-transform: uppercase;
    font-size: $size-text;
  }
}

.quote:before {
  content: "";
  background-image: url('../../image/quote.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 45px;
  display: inline-block;
  margin-bottom: 40px;
}

/*--- Blog-section---*/

.blog {
  padding-top: $padding-section;
  padding-bottom: $padding-section;

  h2:after {
    content: "";
    background-image: url('../../image/grey-line.png');
    width: 50px;
    height: 5px;
    display: block;
    margin: 30px auto 0;
  }
}

/*--- Expirience-section---*/

.expirience {
  padding-top: $padding-section;
  padding-bottom: $padding-section;
  background: $expirience-bacground;

  .header-section {
    color: $color-first;
  }


  h2:after {
    content: "";
    background-image: url('../../image/grey-line.png');
    width: 50px;
    height: 5px;
    display: block;
    margin: 30px auto 0;
    color:$color-first;
  }
}

.expirience-list {
  display: flex;
  justify-content: center;
}

.expirience-image {
  margin-right: 150px;
  text-align: center;

  span {
    font-size: 40px;
    color: $color-first;
  }

  p {
    font-size: 20px;
    color: $color-first;
    font-weight: bold;
  }
}

.expirience-image:after {
  content: "...";
  width: 30px;
  height: 30px;
  display: block;
  font-size: 80px;
  position: relative;
  left: 242px;
  bottom: 300px;
  color: white;
}

.expirience-image:last-child:after {
  content: "";
}

.expirience-image:last-child {
  margin-right: 0;
}

.radius-image-1 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: $color-header;

  img {
    padding: 20px;
    margin: 0 auto;
  }
}

.radius-image-2 {
  width: 200px;
  height: 200px;
  border: 5px solid $color-first;
  border-radius: 50%;
  padding: 45px;
  margin-bottom: 30px;
}

/*--- Team---*/

.team {
  padding-top: $padding-section;
  padding-bottom: $padding-section;

  h2:after {
    content: "";
    background-image: url('../../image/grey-line.png');
    width: 50px;
    height: 5px;
    display: block;
    margin: 30px auto 0;
    color:$color-first;
  }
}

/*--- Footer---*/

.footer-top, .footer-bottom {
  background-color: $color-header;
  padding-bottom: 50px;
}

.footer-list{
  color: $color-first;
  display: flex;
  justify-content: center;

  h3 {
    color: $color-first;
    font-size: $size-title;
    margin-bottom: 40px;
  }

  p {
    font-size: $size-text-2;
  }
}

.contact{
   p {
     color: $color-border;
     line-height: 30px;
     margin-bottom: 30px;
     margin-left: 30px;
   }
  span {
    color: $color-first;
  }

  a {
    text-decoration: none;
    color: $color-border;
  }
}

.icon-social {
  color: $text-color;
  float: left;
  margin: 5px;
}

.maps {
  width: 210px;
  height: 150px;
}

.list-inform {
  width: 235px;
  padding-top: 50px;
}

.tweets {
  a {
    text-decoration: none;
    color: $text-color;
  }

  p {
    line-height: 30px;
    margin-left: 30px;
  }
}

.list-twwets {
  margin-bottom: 30px;
}

.social-list {
  p {
    margin-bottom: 30px;
    margin-left: 30px;
  }
}

.posts {

  p {
    color: $text-color;
    margin-bottom: 30px;
    line-height: 30px;
  }
}

.footer-list {

  li {
    @for $i from 0 to 4 {
      &:nth-child(#{$i+1}) {
        border-top: 15px solid nth($color-list-footer, $i % length($color-list-footer) + 1);
      }
    }
  }
}

.footer-bottom {

  .container {
    display: flex;
    justify-content: space-between;
  }

  .button-transparent {
    font-size: 12px;
    border: 2px solid $text-color;
  }

  .icon-button {
    color: $text-color;
  }
}

.footer-botton-text {
  color:$color-first;
  margin-left: 85px;
}

.footer-bottom-button {
  margin-right: 80px;
}





