.button-submit {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: $paynes-grey;
}

.button-registration {
  display: flex;
  padding: 0;

  & .button-registration-1 {
    margin-right: 35px;
  }
}

 .button-section, .button-transparent {
    font-weight: bold;
    text-transform: uppercase;
    border: 3px solid $turquoise-color;
    font-size: 15px;
    color: $turquoise-color;
    padding: 10px 20px;
    cursor: pointer;
    background-color: transparent;
  }


.button-section:hover {
  background-color: $button-background;
  color:$main-color;
}

.button-white {
  border: 3px solid $main-color;
  color: $main-color;
  padding: 10px 40px 10px 10px;
}


