.button-submit {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: $color-input;
}

.button-submit:focus {
  outline: -webkit-focus-ring-color auto 0;
}

.button-section, .button-transparent  {
  font-weight: bold;
  text-transform: uppercase;
  border: 3px solid $text-color;
  font-size: 15px;
  color:$text-color;
  padding: 10px 20px;
  cursor: pointer;
  background-color: transparent;
}

.button-section:hover {
  background-color: $button-background;
  color:$color-first;
}

.button-white {
  border: 3px solid $color-first;
  color: $color-first;
  padding: 10px 40px 10px 10px;
}

.icon-button {
  color: $color-first;
  margin-left: -30px;
}

.button-registration {
  display: flex;

  .button-registration-1 {
    margin-right: 35px;
  }

  .button-registration-1:last-child {
    margin-right: 0;
  }

  .button-registration {
    padding: 0;
  }
}