/*--- WORKS ----*/

.list-cards {
  display: flex;
  justify-content: center;

  & .cards-list-section {
    margin-right: 30px;
    overflow-y: hidden;
    height: 290px;
    width: 290px;
    position: relative;


  &:last-child {
    margin-right: 0;
    }
  }
}

.footer-cards {
  background-color: $color-corner;
  min-height: 70px;
  font-weight: bold;
  padding: 15px;
  display: flex;
  position: relative;
  bottom: 80px;

  & .text-card-wrapper {
    width: 225px;
    line-height: 25px;


    & .title-card {
      color: $main-color;
      line-height: 20px;
      font-size: 14px;
    }

    & .text-card {
      color: $turquoise-color;
      font-size: 13px;
    }
  }
}

.likes-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 30px;
  text-align: center;
  line-height: 30px;

  & i {
    color: $main-color;
    padding-right: 5px;
  }

  & span {
    color:$turquoise-color;
  }
}

.hover-works {
  display: none;
  position: absolute;
  left:0;
  bottom:0;
  right:0;
  top:0;
}

.cards-list-section:hover .hover-works{
  background:rgba(52, 52, 52, 0.6);
  display: block;
  cursor: pointer;
}

.cards-list-section:hover .footer-cards {
  display: none;
  cursor: pointer;
}
.icon-works {
  margin-top: 40px;
 & i {
    display: block;
    padding: 9px;
    background-color: $turquoise-color;
    color: $main-color;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom:10px;
    text-align: center;
  }
}


/*--- BLOG ----*/

.list-cards-blog {
  display: flex;
  justify-content: center;

   & .list-cards-article {
    border-bottom: 1px solid $color-platinum;
    margin-right: 30px;
    padding-bottom: 30px;
    width: 290px;
  }

  & .image-blog {
    margin-bottom: 30px;
  }

  & .title-blog {
    font-size:24px;
    color: $turquoise-color;
    font-weight: bold;
    margin-bottom: 30px;
  }

  & .title-text {
    font-size: 17px;
    color: $color-black;
    line-height: 25px;
    margin-bottom: 30px;
  }

  & .learn-more {
    text-decoration: none;
    color: $turquoise-color;
    font-size: 14px;
    margin-right: 155px;
  }

  & .icon-blog {
    color: $turquoise-color;
    margin-right: 5px;
  }
}

.list-cards-article:last-child {
  margin-right: 0;
}

  .title-blog:hover, .learn-more:hover, .icon-blog:hover {
  color: $color-fiolet;
}


/*--- TEAM----*/

.list-team {
  display: flex;
  justify-content: center;

 & .card-team {
    width: 210px;
    margin-right: 30px;
    text-align: center;
    border: 1px solid $color-platinum;
    box-sizing: content-box;

   & .button-transparent {
     padding: 10px 40px 10px;
     margin: 30px auto;
   }

   & .button-transparent:hover {
     background-color: $button-background;
     color:$main-color;
   }
 }

  .card-team:hover .text-team{
   display: none;
 }

  li:last-child {
    margin-right: 0;
  }
}

.title-team {
  border:1px solid $color-platinum;
  width: 135px;
  padding: 10px 0 10px;
  background-color: $main-color;
  margin-left: 35px;
  position: relative;

  & h3 {
    font-size: 15px;
    color: $turquoise-color;
    line-height: 20px;
  }

  & span {
    font-size: 13px;
    color: $color-platinum;
  }
 }

.text-team {
  text-align: center;
  position: absolute;
  bottom: 107px;
  width: 210px;

  & p {
    font-size: 12px;
    line-height: 22px;
    width: 210px;
    padding: 60px 25px 0;
    margin-top: -30px;
    background-color: $main-color;
    height: 120px;
  }
}







