.list-menu {
  display: flex;
  text-align: center;

  li {
    padding-top: 25px;
    width: 100px;
  }

  li:last-child {
    margin-right: 0;
  }

  a {
    text-decoration: none;
    color: $color-first;
    text-transform: uppercase;
    font-size: 13px;
  }
}

.list-menu {

  li {
    @for $i from 0 to 7 {
      &:nth-child(#{$i+1}) {
        border-top: 10px solid nth($colors-list, $i % length($colors-list) + 1);
      }
    }
  }
}
