/*--- Colors ----*/
$color-input:#85939f;
$color-form:#434a50;
$color-first:#ffffff;
$color-header:#000000;
$color-header-2:#474747;
$color-opasity:#8e8e8e;
$colors-list:#ffae00,#fc7100,#e51c5e,#ae0f8d,#6d0fae,#33227a,#0c8fcc;
$color-list-footer: #7827a9, #0c8fcc, #de1c5c, #ffae00;
$text-color:#02baab;
$text-color-header-section:#3b4954;
$color-footer-cards:#3d3d3d;
$color-border:#c3c3c3;
$color-hover-cards:#6d0fae;


/*--- Fonts ----*/
@import url('https://fonts.googleapis.com/css?family=Oxygen:300');


/*--- Background ----*/
$header-background-top:$color-header;
$header-background-bottom:$color-header-2;
$button-background:$text-color;
$bacground-white:$color-first;
$buy-bacground: $text-color;
$expirience-bacground:$text-color;


/*--- Padding-Margin sections ----*/
$padding-section: 100px;
$padding-buy-section:50px;
$margin-section:50px;


/*--- Size ----*/
$title-size:30px;
$text-header-size2:17px;
$text-header-size:20px;
$size-title:20px;
$size-title-2:22px;
$size-text:15px;
$text-card-size:20px;
$size-text-2:13px;



