@import 'reset';
@import 'base/variables';

@import 'components/button';
@import 'components/card';
@import 'components/nav';
@import 'components/form';
@import 'components/carousel';
@import "components/icon";
@import 'components/breadcrumb';
@import "components/pagination";
@import 'components/tooltips';
@import 'components/tabs';

@import 'layout/common';

@import 'layout/header';
@import 'layout/footer';
@import 'layout/pages/home/sections/steal';
@import 'layout/pages/home/sections/latest-works';
@import 'layout/pages/home/sections/buy';
@import 'layout/pages/home/sections/features';
@import 'layout/pages/home/sections/quotation';
@import 'layout/pages/home/sections/blog';
@import 'layout/pages/home/sections/expirience';
@import 'layout/pages/home/sections/team';
@import 'layout/pages/blog/blog-article';
@import 'layout/pages/blog/blog-2';
@import 'layout/pages/portfolio/portfolio';







@import 'layout/pages/home/media';









