.portfolio-title {
  margin-top: 43px;
}

.portfilio {
  padding-top: 50px;
  padding-bottom: 100px;
}

.header-portfolio {
      margin-bottom: 50px;

  p {
    font-size: 14px;
    line-height: 20px;

  }
}

.portfolio-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  li{
    margin-bottom: 30px;
  }
}

.portfolio-list .cards-list-section:nth-child(3n){
  margin-right: 0;
}

.icon-portfolio {
  color: $turquoise-color;
  text-align: center;

  a {
    font-size: 15px;
    display: block;
    text-decoration: none;
    color: $turquoise-color;
    font-weight: bold;
  }

  i {
    font-size: 20px;
  }
}
