/*--- Colors ----*/
$main-color:#ffffff;
$gunmetal-grey:#434a50;
$paynes-grey:#85939f;
$color-black:#000000;
$color-dark-gunmetal:#474747;
$color-dark:#3b4954;
$color-corner:#3d3d3d;
$color-graphite:#474e52;
$color-opasity:#8e8e8e;
$color-platinum:#c3c3c3;
$light-grey:#eeeeee;
$light-grey-2:#ebf0f3;
$light-grey-3:#c6cdd2;
$light-grey-4:#dee7ed;
$color-silver: #85939f;
$turquoise-color:#02baab;
$color-fiolet:#6d0fae;
$color-blue:#3b5998;
$color-azure:#00a0d1;
$color-red:#c4302b;
$color-cherry:#a30834;
$color-braun:#825c48;
$color-lightbrown:#c69c6d;
$color-lightgrey: #738a8d;
$color-orange:#f8694d;
$color-safety-orange:#ffae00;

$colors-list:#ffae00,#fc7100,#e51c5e,#ae0f8d,#6d0fae,#33227a,#0c8fcc;
$color-list-footer: #7827a9, #0c8fcc, #de1c5c, #ffae00;

/*--- Fonts ----*/
@import url('https://fonts.googleapis.com/css?family=Oxygen:300');


/*--- Background ----*/
$header-background-top:$color-black;
$header-background-bottom:$color-dark-gunmetal;
$button-background:$turquoise-color;
$bacground-white:$main-color;
$buy-background: $turquoise-color;
$expirience-bacground:$turquoise-color;






